<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="AddressBookConnectionString" connectionString="data source = DESKTOP-HVL2F51\SQLEXPRESS ; initial catalog = AddressBook ; Integrated Security = True ; "/>
  </connectionStrings>
  <!--<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>-->
  <system.web>
    <pages theme="Blue"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>